<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="WorkTracker">
         <property
               name="appName"
               value="WorkTracker">
         </property>
         <property
               name="applicationXMI"
               value="org.tobbaumann.worktracker.ui/Application.e4xmi">
         </property>
         <property
               name="aboutImage"
               value="icons/clocks/clock_128x128.png">
         </property>
         <property
               name="aboutText"
               value="Copyright (c) 2013 Tobias Baumann.&#x0A;All rights reserved. This program and the accompanying materials&#x0A;are made available under the terms of the Eclipse Public License v1.0&#x0A;which accompanies this distribution, and is available at&#x0A;http://www.eclipse.org/legal/epl-v10.html&#x0A;&#x0A;All clock icons are from http://www.icons-land.com.&#x0A;All other icons are from http://pc.de/ico/">
         </property>
         <property
               name="windowImages"
               value="icons/clocks/clock_16x16.png,icons/clocks/clock_32x32.png,icons/clocks/clock_48x48.png,icons/clocks/clock_64x64.png,icons/clocks/clock_128x128.png">
         </property>
         <property
               name="cssTheme"
               value="theme.blue">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://org.tobbaumann.worktracker.ui/org.tobbaumann.wt.ui.lifecycle.LifeCycleManager">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default.css"
            id="theme.default"
            label="Default Theme">
      </theme>
      <theme
            basestylesheeturi="css/blue-gradient.css"
            id="theme.blue"
            label="Blue Theme">
      </theme>
      <theme
            basestylesheeturi="css/grey.css"
            id="theme.grey"
            label="Grey Theme">
      </theme>
      <theme
            basestylesheeturi="css/bright-gradient.css"
            id="theme.bright"
            label="Bright Theme">
      </theme>
      <theme
            basestylesheeturi="css/dark.css"
            id="theme.dark"
            label="Dark Theme">
      </theme>
      <theme
            basestylesheeturi="css/dark-gradient.css"
            id="theme.darker"
            label="Even Darker Theme">
      </theme>
   </extension>

</plugin>
